.general-container{
    background-color: rgba(204, 204, 204, 0.253);
    height: 100vh;
    margin: 0.5rem;
    padding: 1rem;
    display: grid;
    justify-content: center;
    grid-template-columns: 10% 90%;
    grid-gap: 1rem;     
}

.item1{
    text-align: center;
}

.item2{
   margin-left: 6rem;
}