.clientes-container{
    background-color: inherit;
}

.table-container{
    border: 1px solid rgba(128, 128, 128, 0.164);
    border-radius: 3px;
    box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.5);
    padding: 1rem;
}

.table-container p{
    color: gray;
    font-weight: 500;
    font-size: 12px;
    font-style: italic;
}

.topbar-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.agregarbutton{
    display: flex;
    color: gray;
}

.cl-state{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.cl-state span{
    padding-left: 9px;
    font-style: italic;
}