.cuentas-container{
    background-color: inherit;
}

.table-container{
    border: 1px solid rgba(128, 128, 128, 0.164);
    border-radius: 3px;
    box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.5);
    padding: 1rem;
}

.topbar-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cell-cliente{
    width: 12rem;
    padding: 0.2rem;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;       
}

.cell-cliente span {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 13px;
}
.cell-cliente span > p{
    font-style: italic;
    font-size: 12px;
    color: gray;
    margin: 2px;
}

.modal-content{
    width: 20rem;
    height: 12rem;
    padding: 0 5px;
    
    
}

.modal-content h4{
    font-size: 18px;
    font-style: italic;
    font-weight: 500;
}

.modal-content-cli{
    width: inherit;
    display: flex;
    justify-content: space-between;  
}

.modal-content p{
    font-size: 13px;
    font-weight: 700;
}

.modal-content span {
    font-size: 12px;
    font-weight: 400;
}


