.cuentas-container{
    background-color: inherit;
}

.table-container{
    border: 1px solid rgba(128, 128, 128, 0.164);
    border-radius: 3px;
    box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.5);
    padding: 1rem;
}

.topbar-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
