.container{
    flex-direction: column;
    flex-wrap: wrap;
    height: 100vh;
    width: 100%;
    border: 1px solid greenyellow;
}
.nav-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1.5rem;
    margin-top: 3rem;

}

.nav-container img{
    width: 7rem;
    height: 7rem;
}

.nav{
    margin-top: 4rem;
}

.active{
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    font-weight: 600;
    background: linear-gradient(45deg, #2196F3 30%, #21CBF3 90%);
    border: 0 ;
    border-radius: 3px;
    box-shadow:0 3px 5px 2px rgba(255, 105, 135, .3);
    color: white;
    height: 30px;
    text-decoration: none;
    margin-top: 1rem;
    padding: 8px 20px;
}

.inactive{
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 0.9rem;
    background: transparent;
    border: 0;
    border-radius: 3px;
    color: black;
    height: 2rem;
    padding: 8px 20px;
    margin-top: 1rem;
    text-decoration: none;
    transition: all 300ms ease;
}

.inactive:hover{
    background-color: rgba(105, 170, 255, 0.356);
}